html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color: rgb(233, 251, 152);
}

/* Column separation */
* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    .column {
      flex: 1
    }
}

video {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

canvas, video {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

button, input {
    border-radius: 10px;
    color: black;
    background-color: white;
    border-width: 0px;
}

#main-div button, input {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -- Buttons Div -- */

#buttons-div {
    margin: auto auto;
}

/* -- Store Div -- */

#store-div {
    margin: auto auto;
}

/* -- Product Div -- */

#product-div {
    background-color: rgb(235, 243, 127);
    margin: auto auto;
}
#store-div img {
    max-width:70%;
    max-height:70%;
}


/* -- Overlay Div -- */

#overlay-div {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
    padding-top: 1%;
    padding-bottom: 1%;
}

#overlay-div button{
    padding: 6px;
}

#edit-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 5px;
}
#ready-image {
    width: 20%;
    margin-left: 2em;
    margin-right: 2em;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}