*{ margin: auto auto; }

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color: #19A08F;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
}
.middle{
    flex-grow: 0;
    flex-shrink: 0;
}
.right, .left{ flex: auto; }

@media screen and (orientation:portrait) {
    .flex-container{ flex-direction: column; }
    .left{ order: 2; }
    .right{ order: 3; }
    .middle{ order: 1; }
}

@media screen and (orientation:landscape) {
    .flex-container{ flex-direction: row; }
    .left{ order: 3; }
    .right{ order: 1; }
    .middle{ order: 2; }
} 

/* --- Divs --- */

video {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

canvas, video {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

button, input, a { 
    padding: 5px 5px; 
    margin: 10px 10px; 
    height: 70px 70px;
}

button, input {
    border-radius: 10px;
    color: black;
    background-color: white;
    border-width: 0px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.24); 
}

#view-div { 
    display: block;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.24); 
}

#store-div img{ max-width: 100px; }

/* -- Overlay Div -- */

#overlay-div {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
    padding-top: 1%;
    padding-bottom: 1%;
}

#overlay-div button{
    padding: 6px;
}

#edit-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 5px;
}
#ready-image {
    width: 20%;
    margin-left: 2em;
    margin-right: 2em;
}

body {
    background: #19A08F; /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #19A08F, #0B726F);
    background: -moz-linear-gradient(left, #19A08F, #0B726F);
    background: -o-linear-gradient(left, #19A08F, #0B726F);
    background: linear-gradient(to right, #19A08F, #0B726F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}