html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color: rgb(233, 251, 152);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    .column {
      flex: 1
    }
}

video {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

canvas, video {
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

button, input {
    border-radius: 10px;
    color: black;
    background-color: white;
    border-width: 0px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#buttons-div {
    margin: auto 5%;
}

#store-div {
    margin: 5% auto;
}

#product-div {
    background-color: rgb(235, 243, 127);
    margin: auto auto;
}

#product-img, #logo-img {
    max-width:70%;
    max-height:70%;
}

#overlay-div {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
}